@use "@variables" as v;

:root {
    --black: #2b2a33;
    --orange: #e24212;
    --hiroshima: #ab3748;
    --salmon: #ab5a3f;
    --blue: #00a3e0;
    --another-blue: #2682ab;
    --green: #26ab8b;
    --white: #ffeeff;
    --purple: #a12eab;
    --gold: #aba748;
    --pink-puple: #9f4d95;
    --yellow: #f08307;
}

[data-theme="dark"] {
    background-color: var(--black);
}

[data-theme="light"] {
    background-color: var(--white);
}

* {
    position: relative;
    padding: 0;
    margin: 0;
    transition: background 0.5s;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

footer {
    margin-top: auto;
}

.main {
    position: relative;
    height: 200vh;
}
