.agniFooter {
  position: absolute;
  bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  z-index: 3;
}

.copy {
  text-align: left;
  padding: 1em;
  width: 100%;
}

.sns {
  padding: 1em;
  width: 3vw;
  display: flex;
  justify-content: space-around;
}