.agniHeader {
  height: 1vh;
  width: 100%;
  z-index: 999;
  text-align: center;
}

.agniHeader.UpMove {
  animation: UpAnime 0.5s forwards;
}

.agniNav {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;

}

.navMenu {
  display: flex;
  justify-content: space-between;
  width: 20%;
  text-align:center;
  padding:20px 0;
  margin-right: 5%;
}