.kbdSection {
    position: absolute;
    top: 50%;
    width: 100%;
}

.ruleSwiper {
    height: 100vh;
}

.rulePanel {
    padding: auto;
    background-color: var(--black);
    height: 100%;
}

.ruleTitle {
    text-align: center;

    .rulesSubtitle {
        margin: 20px 0;
        font-size: 4vw;
        color: transparent;
        background: -webkit-linear-gradient(0deg, var(--hiroshima), var(--gold));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.ruleContainer {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    .raidRule {
    }

    .raidRule > p {
        font-size: 0.7em;
    }
}
