.kabaddiSection {
    position: absolute;
    top: 50%;
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    -ms-overflow-style: none;
    width: 100vw;
}

.kabaddiSection::-webkit-scrollbar {
    display: none;
}

.rulePanel {
    display: flex;
    border: 1px solid;
    height: 90vh;
    overflow-x: hidden;
}