.kbdSection {
    position: absolute;
    top: 50%;
    width: 100%;
}

[data-theme="light"] .rulePanel {
    background-color: var(--white);
}

.ruleSwiper {
    height: 100vh;
}

.rulePanel {
    padding: auto;
    background-color: var(--black);
    height: 100%;
}

.ruleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ruleTitle {
    text-align: center;

    h2 {
        margin: 1em;
        position: relative;
        display: inline-block;
        padding: 0 55px;
    }

    h2:before,
    h2:after {
        content: "";
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 2px;
        background-color: var(--hiroshima);
    }

    h2:before {
        left: 0;
    }

    h2:after {
        right: 0;
    }
}

.raidRule {
    width: 25%;
    margin: 2%;
    height: auto;
    display: inline-block;
    margin-top: 2rem;
    font-size: clamp(16px, 2.9vw, 32px);
    padding: 1.5rem 2rem;
    box-shadow: 0px 4px 24px #eed3b5, inset 6px 6px 12px #ffdead, inset -12px -12px 24px #ac8531;
    border-radius: 2.7rem;
}

.raidRule>p {
    font-size: 0.7em;
}