.signSection {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.teamA {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    color: var(--red);
    font-size: 100em;
    height: 100px;
}

.teamGni {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--red);
    font-size: 45vw;
}