.signSection {
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
}

.teamName {
    position: absolute;
    top: 0%;
    left: 0%;
    color: var(--red);
    font-size: 10em;
}

.videoWrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    filter: blur(0.3rem);
}
